body {
    font-family: "Gabarito", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navbar__s1__title {
    color: #7e0d86a1;
    padding: 10px;
}

.navbar__s2 {
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 50px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s3 p:hover,
.navbar__s3 i:hover {
    margin-bottom: 10px;
}
.sale__one{
    padding-top:30px;
    padding-bottom: 20px;
    padding-right: 50px; ;
    padding-left: 30px;
    width: 30%;
    margin-left: 100px;
}
.sale__one:hover{
    transition-duration: 1s;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sale__one:backdrop{
 transition-duration: 1s;
}
.sale{
 background-image: url(main.png);
 height: 425px;
}
.navbar__s2__text {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2__text:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #7e0d86a1;
    padding: 5px;
    color: white;
    border-radius: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid #7e0d86a1 1px;

}

.categories p:hover {
    color: black;
    background-color: white;
    transition-duration: 1s;
    border: solid #7e0d86a1 1px;
}

.recommended {
   padding: 10px;
}

.recommended__container {
display: flex;
justify-content: space-between;
margin-top: 10px;
}
.course-card {
    width: 20%;
    margin: 10px;
}

.course-card img {
width: 100%;
}
.box h1{
    margin: 10px;
    margin-top:50px ;
    margin-left: 20px;
}
.box__b{
    display: flex;
    flex-wrap: wrap;
}
.box p{
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    flex-grow: 1;
    flex-basis: 30%;
}
.box p:hover{color: white;
background-color: #7e0d86a1;
border-radius: 30px;
transition-duration: 0.5ms;
    border:none;

}
.popular__one{
    margin: 10px;
}
.recommended__container{
    margin: 20px;
}
.footer{
    background-color: black;
    color: white;    
    padding: 20px;
}
.footer__one{
    display: flex;
    gap:50px;
}
.footer__one__s1 p,.footer__one__s2 p{
    margin: 10px;
    margin-left: 50px;
    margin-top: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
}
.footer__two{
    margin-left: 50px;
    margin-top: 10px;
    align-items: center;
}
.footer__one__s1 p:hover,.footer__one__s2 p:hover{
    color: #7e0d86a1;
}
.course-card:hover{
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
    transition-duration: 1s;
    .p{
        color: red;
    }
}